2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.AssemblyInfo.cs
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.AssemblyInfoInputs.cache
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.assets.cache
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.csproj.AssemblyReference.cache
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.GeneratedMSBuildEditorConfig.editorconfig
2c2pTechAssign/2c2pTechAssign/obj/Debug/net7.0/2c2pTechAssign.GlobalUsings.g.cs
2c2pTechAssign/2c2pTechAssign/obj/2c2pTechAssign.csproj.nuget.dgspec.json
2c2pTechAssign/2c2pTechAssign/obj/2c2pTechAssign.csproj.nuget.g.props
2c2pTechAssign/2c2pTechAssign/obj/2c2pTechAssign.csproj.nuget.g.targets
2c2pTechAssign/2c2pTechAssign/obj/project.assets.json
2c2pTechAssign/2c2pTechAssign/obj/project.nuget.cache
